<div>
    <div *ngFor="let category of categories$ | async">
        <h1>{{category.category}}</h1>
    </div>
</div>


<div class="container">
    <h2>Liste des Categories</h2>
    <div class="flex-grow-1 p-1">

        <!-- async permet de mettre un observable et attendre les données avant l'affichage -->
        <table mat-table [dataSource]="categories$ | async" class="mat-elevation-z8">

            <!-- firstName Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> category </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>


            <!-- delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Supprimer </th>
                <td mat-cell *matCellDef="let element" (click)="delete(element.id); $event.stopPropagation();">
                    <mat-icon>delete</mat-icon>
                </td>
            </ng-container>

            <!-- header = title des colonnes -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Row = ligne // chaque ligne contient le nombre de colonne définie -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showReceipeDetails(row.id)"></tr>
        </table>

    </div>
    <div class="btn-holder">
        <button mat-fab color="warn" (click)="openCategoryForm()"><mat-icon>add</mat-icon></button>
    </div>
</div>