.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: #fff;
  color: #1c1b1b;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 5px 10px -5px #e30917;
}

.collab{
  position: absolute;
  bottom: 1rem;
  padding: 0 1rem;
  font-size: .75rem;
  text-align: center;
  p{
    margin-bottom: .25rem;
  }
}