<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/receipes">Receipes</a>
      <a mat-list-item href="/categories">Categories</a>
      <a mat-list-item *ngIf="!(afAuth.user | async)" href="/register-user">Inscription</a>
      <a mat-list-item *ngIf="!(afAuth.user | async)" href="/sign-in">Connexion</a>
      <div class="user-connected" *ngIf="authService.userData as user">
        <a mat-list-item *ngIf="(afAuth.user | async)" href="/dashboard">{{(user.displayName) ? user.displayName : 'User'}}</a>
        <a mat-list-item *ngIf="(afAuth.user | async)" (click)="authService.SignOut()">Déconnexion</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Turkish Receipes 🐱‍👓</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="flex-grow-1">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>