<div style="display: flex; justify-content: space-between; margin: 1rem;">
    <h1>Receipes</h1>
    <div class="btn-holder">
        <button mat-fab color="warn" (click)="openReceipeForm()"><mat-icon>add</mat-icon></button>
    </div>
</div>
<div class="container">
    <div class="card-container">
        <div *ngFor="let receipe of receipes$ | async">
            <mat-card class="example-card" (click)="showReceipeDetails(receipe.id)">
                <mat-card-header>
                    <mat-card-title> {{receipe.receipeName}} </mat-card-title>
                </mat-card-header>
                <img mat-card-image src={{receipe.receipeImg}} alt="Photo de la recette">
                <mat-card-content>
                    <p>
                        <b>Description :</b> {{receipe.descriptionReceipe}}
                    </p>
                    <p>
                        <b>Time :</b> {{receipe.time}}
                    </p>
                    <p>
                        <b>Level :</b> {{receipe.level}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a (click)="openReceipeForm(receipe); $event.stopPropagation();">
                        <mat-icon class="edit-btn">edit</mat-icon></a>
                    <a (click)="delete(receipe.id); $event.stopPropagation();">
                        <mat-icon class="delete-btn">delete</mat-icon></a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>