<h2 mat-dialog-title>{{title}}</h2>

<form [formGroup]="receipeForm" (ngSubmit)="onSubmit()">
    <div class="form">
        <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" readonly />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Receipe Name</mat-label>
            <input matInput formControlName="receipeName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="descriptionReceipe" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Level</mat-label>
            <mat-select formControlName="level">
                <mat-option *ngFor="let level of levels" [value]="level">
                    {{level}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Time</mat-label>
            <input matInput formControlName="time" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories$| async" [value]="category.id">
                    {{category.category}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Youtube</mat-label>
            <input matInput formControlName="receipeYtb" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Image</mat-label>
            <input matInput formControlName="receipeImg" />
        </mat-form-field>

    </div>

    <mat-dialog-actions align="end">
        <button mat-button type="button" mat-dialog-close>Cancel</button>
        <button mat-raised-button type="submit" cdkFocusInitial color="warn"
            [disabled]="!receipeForm.valid || !receipeForm.dirty">{{submitBtnName}}</button>
    </mat-dialog-actions>
</form>